body,html{

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.main-btn{
	margin-right: 0px;
	margin-left: 800px;
}
}
.container{
	width: 100%;
	top: 50%;
	left: 800px;
	text-align: center;
	color: #000000;
}

}
.count{
	margin: 40px 0;
}
.countd{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid;
	margin: 0 30px;
	font-size: 12px;
	border-radius: 50%;
	overflow: hidden;
}
.countd span{
	display: block;
	font-size: 26px;
	margin-top: 14px;
}











